<div class="image-dl-container {{ include.class }}" style="max-width: {{ include.width }};">
    <img src="{{ include.src }}">
    <a href="{{ include.src }}" class="download" download="">
        {% include icons/download.svg %}
        <span>
            Download
        </span>
    </a>
</div>