.sidenav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: var(--sidenav-width);
    background-color: $primary;
    padding: 16px;
    line-height: 24px;
    box-shadow: $shadow;
    z-index: $z-sidenav;
    left: 0;
    transition: all ease 250ms;
    a {
        display: block;
    }
    .unfinished {
        color: $invalid;
        cursor: not-allowed;
    }
    h1 {
        margin-top: 24px;
        margin-bottom: 4px;
        padding: 0 0 8px 0;
        font-size: 16px;
        line-height: 14px;
    }
}

.sidenav_toggle {
    display: none;
    background: $primary;
    border-radius: 0 4px 4px 0;
    position: fixed;
    left: 0px;
    transition: transform 250ms;
    padding: 4px;
    cursor: pointer;
    .icon {
        width: 24px;
        height: 24px;
    }
}
.sidenav_toggle_shadow {
    z-index: $z-sidenav-toggle;
}
.sidenav_toggle {
    z-index: $z-sidenav-toggle-shadow;
    box-shadow: $shadow;
    padding: 4px;
}

@media (max-width: calc(1320px + 200px * 2)) {
    .sidenav {
        left: calc(-1 * var(--sidenav-width));
        &.menu_visible {
            left: 0;
        }
    }
    .sidenav_toggle {
        display: block;
        &.menu_visible {
            transform: translateX(var(--sidenav-width));
        }
    }
}
