---
layout: master
highlight: resources
description: generator for skin posts & visual bbcode editor
title: Resources | Skin Post Generator
---

<script src={{ "/assets/scripts/bbcode.js" | timestamp }} type="text/javascript"></script>

<h1>ImageMap Editor</h1>

<div class="bbcode-editor-explanation">
    <p>This is an editor for ImageMaps, a powerful BBCode tag for working with images. Instead of slicing an image into pieces, you can define areas for attaching links and tooltips.</p>
    <ul>
        <li>Hold and drag over the image to create a new area</li>
        <li>Click the cogwheel icon to add a link or a tooltip</li>
        <li class="warning">WARNING: the image must be less than 4MB to load properly on the osu! website</li>
    </ul>
    <p>This tool exports the data of your imagemap, so you can later import it and edit. The data is stored inside an [img] tag after your [imagemap].
    </p>
</div>

<div id="bbcode-editor-root"></div>
